%header.process
  .header-content
    .header-content-inner
      %h1=t("process.text_h1")
      %hr
        %p=t("process.text_p")
%h2.text-center= t("process.process_with_us")
%section#process
  .container
    .row
      .col-lg-12
        .col-lg-3
          %h2=t("process.header1")
        .col-lg-9.grey.pad10
          %h4= t("process.desc1")
      .col-lg-12
        %hr.light
      .col-lg-12
        .col-lg-3
          %h2=t("process.header2")
        .col-lg-9.orange.pad10
          %h4= t("process.desc2")
      .col-lg-12
        %hr.light
      .col-lg-12
        .col-lg-3
          %h2=t("process.header3")
        .col-lg-9.grey.pad10
          %h4= t("process.desc3")
      .col-lg-12
        %hr.light
      .col-lg-12
        .col-lg-3
          %h2=t("process.header4")
        .col-lg-9.orange.pad10
          %h4= t("process.desc4")
      .col-lg-12
        %hr.light
      .col-lg-12
        .col-lg-3
          %h2=t("process.header5")
        .col-lg-9.grey.pad10
          %h4= t("process.desc5")
