%header.services
  .header-content
    .header-content-inner
      %h1=t("services.text_h1")
      %hr
        %p=t("services.text_p")

%section#testimonials
  .container
    .row
      .col-lg-12
        .col-lg-3
          %h2=t("services.ruby_on_rails")
        .col-lg-9.orange
          %h4= t("services.ruby_on_rails_development")          
        .col-lg-9.grey.pad10
          %p= t("services.ruby_on_rails_desc")
      .col-lg-12
        %hr.light
      .col-lg-12
        .col-lg-3
          %h2=t("services.angularjs")
        .col-lg-9.orange
          %h4= t("services.angularjs_development")
        .col-lg-9.grey.pad10
          %p= t("services.angularjs_desc")
      .col-lg-12
        %hr.light          
      .col-lg-12
        .col-lg-3
          %h2=t("services.mobile_ios_android")
        .col-lg-9.orange
          %h4= t("services.iphone_title")
        .col-lg-9.grey.pad10
          %p= t("services.iphone_desc")
        .col-lg-3
        .col-lg-9.orange
          %h4= t("services.android_title")
        .col-lg-3
        .col-lg-9.grey.pad10
          %p= t("services.android_desc")                    
      .col-lg-12
        %hr.light          
      .col-lg-12
        .col-lg-3
          %h2=t("services.designing")
        .col-lg-9.orange
          %h4= t("services.responsive_web_design")
        .col-lg-9.grey.pad10
          %p= t("services.designing_desc")
        .col-lg-3
        .col-lg-9.orange
          %h4= t("services.quality_assurance_title")
        .col-lg-3
        .col-lg-9.grey.pad10
          %p= t("services.quality_assurance_desc")          

          
