%header.training
  .header-content
    .header-content-inner
      %h1=t("training.text_h1")
      %hr
        %p=t("training.text_p")

%section#testimonials
  .container
    .row
      .col-lg-12
        .pad10
          %h4= t("training.apply_for_traning").html_safe    
      .col-lg-12
        %hr.light          
      .col-lg-12
        .orange.pad10
          %h4= t("training.ruby")          
        .grey.pad10
          %p= t("training.ruby_desc")
      .col-lg-12
        %hr.light
      .col-lg-12
        .orange.pad10
          %h4= t("training.rails")          
        .grey.pad10
          %p= t("training.rails_desc")
      .col-lg-12
        %hr.light
      .col-lg-12
        .pad10
          %h4= t("training.apply_for_traning").html_safe